* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}
img {
  vertical-align: middle;
}
body {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9f8f8;
  font-family: "FuturaPT", "Arial", sans-serif;
}
